<html>
    <head>
       <title>
           web
        </title> 
           <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
       
    </head>
    <body>
        <div class ="con">
        <div class="sidebar">
            <p>side barrrr</p>
        </div>
        <div class="contect">
        <h1>ballet</h1>
        <p>because i love dance</p>
        <img src="cat.jpg">
        {% if like_same_sport == false %}
              
        {% else %}
        <ul>
            {% for player in players %}
            {%if was==false%}
                {% if who==player%}
                <li> {{player}}</li>
                {% set was=true%}
                {%else%}
                <li> {{player}}</li>
                {% endif %}
            {% endif %}
            {% endfor %}
        </ul>
        {% endif %}
        </div>
        </div>
    </body>
</html>